.card {
  display: inline-block;
}

.delete {
  color: red;
}

.btn-delete {
  display: inline;
}

.rounds .round-card {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 0 auto;
  background-color: #565656;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 10px 40px rgba(0,0,0,.5);
  overflow: hidden;
}

.round-card {
  text-align: center;
  border: 1px solid black;
  margin-bottom: 40px;
}

.card-header {
  font-size: 3em;
}

.card-title {
  font-size: 2.8em;
}

.card-text {
  font-size: 2.2em;
}

.card-body > a {
  padding: 20px 40px;
  color: black;
  font-size: 2em;
}

.rounds-total {
  width: 600px;
  height: 350px;
  margin: 50px auto;
  background-color: #f0f0f0;
  padding: 20px;
  overflow: hidden;
}

.rounds-total li {
  font-size: 25px;
}

.form-group label {
  font-size: 40px;
}

.form-group input {
  font-size: 35px;
}

.form-height {
  height: 75px;
}

@media (min-width: 320px) {
  .navbar-brand {
    font-size: 50px !important;
  }

  .nav-item {
    font-size: 40px !important;
  }
}


