<% include ../partials/header %>

<div class="container">
  <h1 class="text-center mb-4">Golf Rounds</h1>
  <div class="row justify-content-around">
    <% stats.forEach(function(stat) { %>
    <div class="card-deck col-md-3">
      <div class="card text-black bg-light mb-3">
        <div class="card-header">Round: <%= stat._id %></div>
        <div class="card-body">
          <h5 class="card-title">Score: <%= stat.score %></h5>
          <p class="card-text">
            Completed: <%= moment(stat.created).format('L') %>
          </p>
          <a class="btn btn-dark" href="/golfstats/<%= stat._id %>"
            >More Stats</a
          >
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
