<% include ../partials/header %>

<div class="row justify-content-center mt-4">
  <div class="col-md-10">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <div class="mb-0">New Round Stats</div>
      </div>
      <div class="card-body">
        <form action="/golfstats" method="POST">
          <div class="form-group">
            <label for="score">Score</label>
            <input type="text" name="score" class="form-control form-height" id="score" placeholder="0" />
          </div>
          <div class="form-group">
            <label for="fairways">Fairways</label>
            <input type="text" name="fairways" class="form-control form-height" id="fairways" placeholder="0" />
          </div>
          <div class="form-group">
            <label for="greens">Greens</label>
            <input type="text" name="greens" class="form-control form-height" id="greens" placeholder="0" />
          </div>
          <div class="form-group">
            <label for="putts">Putts</label>
            <input type="text" name="putts" class="form-control form-height" id="putts" placeholder="0" />
          </div>
          <input class="btn btn-primary btn-lg" type="submit">
        </form>
      </div>
    </div>
  </div>
  <form >



    </div>
  </form>
</div>

<% include ../partials/footer %>
